*,
html,
body {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root {
    --pg:#555555;
    --brand1: #0771b9;
    --brand2: #5bc5f4;
    --w:#FFFFFF;
    --black: #353535;
    --border: 1px solid red;
    --tr:all linear .3s;
}
a, span, i {
    text-decoration: none;
    display: inline-block;
}
a:hover {
    transition: all linear .3s;
}
ul li {
    list-style-type: none;
}
@font-face {
    font-family: "open-sans-regular";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "oswald-bold";
    src: url(../fonts/Oswald/static/Oswald-Bold.ttf);
}
@font-face {
    font-family: "oswald-regular";
    src: url(../fonts/Oswald/static/Oswald-Regular.ttf);
}
@font-face {
    font-family: "myrid-pro-regular";
    src: url(../fonts/myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff);
}
p {
    font-size: 13px;
    line-height: 24px;
    color: var(--pg);
    font-weight: 400;
    font-family: "open-sans-regular";
}
body {
    font-family: sans-serif;
}

section {

}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.d-inline-flex {
    display: inline-flex;
    flex-wrap: wrap;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-center {
    align-items: center;
}

.container {
    width: 992px;
    /* border: var(--border); */
    margin: 0 auto;
 
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* 100/12 */
/* 8.333333333333334 */

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    padding: 0px 15px;
    box-sizing: border-box;
}

.col-1{
    width: 8.333333333333334%;
    flex: 0 0 8.333333333333334%;
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 8.333333333333334%; */
}

.col-2{
    width: calc(8.333333333333334*2%);
    flex: 0 0 calc(8.333333333333334*2%);
}

.col-3{
    width: calc(8.333333333333334*3%);
    flex: 0 0 calc(8.333333333333334*3%);
 
}

.col-4{
    width: calc(8.333333333333334*4%);
    flex: 0 0 calc(8.333333333333334*4%);
 
}
.col-5{
    width: calc(8.333333333333334*5%);
    flex: 0 0 calc(8.333333333333334*5%);
 
}
.col-6{
    width: calc(8.333333333333334*6%);
    flex: 0 0 calc(8.333333333333334*6%);
 
}
.col-7{
    width: calc(8.333333333333334*7%);
    flex: 0 0 calc(8.333333333333334*7%);
 
}
.col-8{
    width: calc(8.333333333333334*8%);
    flex: 0 0 calc(8.333333333333334*8%);
 
}
.col-9{
    width: calc(8.333333333333334*9%);
    flex: 0 0 calc(8.333333333333334*9%);
 
}
.col-10{
    width: calc(8.333333333333334*10%);
    flex: 0 0 calc(8.333333333333334*10%);
 
}
.col-11{
    width: calc(8.333333333333334*11%);
    flex: 0 0 calc(8.333333333333334*11%);
 
}
.col-12{
    width: 100%;
    flex: 0 0 calc(8.333333333333334*12%);
 
}

/* ------------------responsive---------------------------------- */
/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
